<!DOCTYPE html>
<html>
    <head>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <style type="text/css">

            .btn-shift-left {
                float: left;

                margin-right: -15px;
                margin-top: 15px;
                margin-bottom: 12px;
                font-size: 20px;
                padding: 15px;
                padding-left: 20px;
                padding-right: 20px;
                overflow: hidden;
            }

            .search-btn {
                margin-left: 60px;
                margin-top: 10px;
            }

            .navbar-damn {
              margin-right: 10px;
              min-width: 100px;
              float: right;
              overflow: hidden;
            }

            .navbar-header2 {
              min-width: 320px;
            }
            .navbar-brand { 
                font-size: 56px;
                margin-top: 20px;
                margin-bottom: 20px;
                float: left;
            }
            .navbar-default {
                max-height: 93px;
                overflow: hidden;
            }

            #sidebar{
                width:200px;
                float: left;
                margin-left: 20px;
            }

            .form-control{
              margin-bottom: 5px;
              height: 40px;
            }

            .search-btn{
              width:150px;
              float: left;
              margin-left: 25px;
            }



        </style>




		
        <title>{% block title %}GnarCar{% endblock %}</title>
    </head>
    <body>

            {% block navbar %}
            <nav class="navbar navbar-default" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header2">
         
                <a class="navbar-brand" href="{{ path('welcome')}}"><b>GnarCar</b></a>
              </div>
                  
                </form>

                <ul class="nav navbar-nav navbar-damn">
                    <!-- Log In button links to sign in page -->
                  <a href="{{ path('sign_in') }}"><button type="submit" class="btn btn-default btn-shift-left">Log In</button></a>
                </ul>
              </div>
            </nav>
            {% endblock %}


       
        <div id="sidebar">
            {% block sidebar %}

                <h2><font color="white" align="center" background-color="A0A0A0"><b>&nbsp;Event Search</h2></font>

                 <input type="text" class="form-control" placeholder="Event Name" required="" autofocus="">
              
                 <input type="text" class="form-control" placeholder="Date (mm/dd/yyyy)" required="" autofocus="">
                
                 <input type="text" class="form-control" placeholder="City" required="" autofocus="">

                 <input type="text" class="form-control" placeholder="State" required="" autofocus="">
                
                 <input type="text" class="form-control" placeholder="User" required="" autofocus="">

                 <a href="{{ path('results') }}"><button type="submit" class="btn btn-default search-btn"><b>Go</button></a>
  
            {% endblock %}
        </div>
        

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>