{% extends '::base.html.twig' %}
{% block body %}
<html lang="en">

    <style type="text/css">

        .container{
            width:400px;
        }

        .form-signin-heading{
          text-align: center;
        }

        .drive-and-ride{
          width:370px;
          text-align:center;
        }

        .dropdown-menu{
            width:370px;
            text-align:center;
        }

        </style>

  <body>

    <div class="container">

      <form class="form-signin" role="form" action="{{ path('sign_in') }}"  method="post">
        <h4 class="form-signin-heading">If you haven't already done so,<br>click to log in or create an account below</h4>
        <h5 class="form-signin-heading">(You will be directed back to this page when you're done)</h5>
        <a href="{{ path('welcome') }}"><button class="btn btn-lg btn-primary btn-block" type="submit">Log In/Create Account</button></a>
      
        <h2 class="form-signin-heading">Join Event</h2>
<!--
        <form action="" class="drive-or-ride">
        <select name="drive/ride">
        <option value="choose">I will be a [choose one]</option>
        <option value="driver">Driver</option>
        <option value="passenger">Passenger</option>
        </select>
      </form>
-->

            <ul class="nav drive-and-ride">
            <li class="dropdown open">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">I will be a [choose one]<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Driver</a></li>
                <li><a href="#">Passenger</a></li>
              </ul>
            </li>
          </ul>

<!--
        <input type="text" class="form-control" placeholder="Username" required="" autofocus="">
        <input type="text" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" required=""><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button> -->

      </form>

    </div>

</body></html>
{% endblock %}