{% extends '::base.html.twig' %}
{% block body %}
<html lang="en">

    <style type="text/css">

        .container{
            width:400px;
            height:350px;
            background-color: lightgray;
            border-radius: 12px;
            margin-bottom: 20px;
        }

        .form-signin-heading{
          text-align: center;
          color:#000000;
        }

        .drive-and-ride{
          width:370px;
          text-align:center;
        }

        .dropdown-menu{
            width:370px;
            text-align:center;
        }

        .text-box{
          width: 50px;
          height: 40px;
          float: center;
          text-align: center;
          margin-left: 40%;
        }

        </style>

  <body>

    <div class="container">

      <form class="form-signin" role="form" action="{{ path('sign_in') }}"  method="post">
        <h4 class="form-signin-heading">1. Log in or create an account first!</h4>
        <h5 class="form-signin-heading">(You'll be back here afterwards)</h5>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In/Create Account</button>
      
      </form>

       <!--
 <h2 class="form-signin-heading">Join Event</h2>
        <form action="" class="drive-or-ride">
        <select name="drive/ride">
        <option value="choose">I will be a [choose one]</option>
        <option value="driver">Driver</option>
        <option value="passenger">Passenger</option>
        </select>
      </form>


            <ul class="nav drive-and-ride">
            <li class="dropdown open">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">I will be a [choose one]<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Driver</a></li>
                <li><a href="#">Passenger</a></li>
              </ul>
            </li>
          </ul>
          -->
          

          <form class="form-signin" role="form" method="post"> 

          <h4 class="form-signin-heading">2. # spots in your car?</h4>
          <h5 class="form-signin-heading">(Passengers put 0)</h5>
          <input type="text" class="form-control text-box form-signin-heading" placeholder="" required="" autofocus="">
          <button class="btn btn-lg btn-primary btn-block" action="{{ path('confirmation') }}"  type="submit2">Join Event</button>
        </form>

<!--
        <input type="text" class="form-control" placeholder="Username" required="" autofocus="">
        <input type="text" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" required=""><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button> -->

      

    </div>

</body></html>
{% endblock %}