{% extends '::base.html.twig' %}

{% block title %}GnarCar{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>

	<style type="text/css">
		.front-page-text{
			color:#ffffff;
			font-size:100px;
			border-radius: 12px;
			margin-top: 50px;
			margin-left: 200px;
			text-align: center;
			text-shadow: 4px 6px 4px #707070;
		}
	</style>

	<body>

		<div class="front-page-text">
			Now we need something to write here...
		</div>

	</body>
</html>
    
{% endblock %}