{% extends '::base.html.twig' %}

{% block title %}GnarCar{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
	<body>

    <style type="text/css">
	         body {
          background-image:url('http://www.socwall.com/images/wallpapers/33168-1366x768.jpg');
          background-repeat:no-repeat;
          /*background-position: 300px;*/
          background-origin: center;
          background-size: 1400px;
          }

         </style>

	</body>

</html>
    
{% endblock %}