{% extends '::base.html.twig' %}

{% block title %}GnarCar{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>

	<style type="text/css">
		.front-page-text{
			color:#ffffff;
			font-size: 22px;
			border-radius: 12px;
			margin-top: 140px;
			margin-left: 360px;
			text-align: center;
			text-shadow: 2px 3px 2px #101010;
      max-width: 600px;
		}
    #first-line {
        font-size: 34px;
    }
	</style>

	<body>

		<div class="front-page-text">
      <div id="first-line">
			GnarCars lets you connect with people going to music events.</div>  Whether you're trying to hitch a ride or have extra seats in your car, with GnarCars you can find good company and good vibes.
		</div>

	</body>
</html>
    
{% endblock %}