{% extends '::base.html.twig' %}

{% block title %}GnarCar{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
	<body>

    <style type="text/css">
	         body {
	         	/*
          background-image:url('https://mail.google.com/mail/u/1/?ui=2&ik=b513fab43f&view=fimg&th=143ce399b7ec8083&attid=0.1&disp=inline&realattid=f_hqw7a7vi1&safe=1&attbid=ANGjdJ8r5VWAqubmrUmq-DE4m5F5KLj5ycRAjWSeOuTVLYNVTUXley-18-MY-VUxlnAODWeL3OhbBkB9VA4pqCPFTnWvQyCBwD--w7GawqmlwhApL5hlarzuiWyIgFA&ats=1390734415749&rm=143ce399b7ec8083&zw&sz=w1254-h520');
          */
          background-image:url('http://i.imgur.com/EikJfFY.jpg');
          background-repeat:no-repeat;
          /*background-position: 300px;*/
          background-origin: center;
          background-size: 1400px;
          height: 770px;
          }

         </style>

	</body>

</html>
    
{% endblock %}