{% extends '::base.html.twig' %}
{% block body %}
<html lang="en">

    <style type="text/css">

        .container{
            width:400px;
        }

        .form-signin-heading{
          text-align: center;
        }

        </style>

  <body>

    <div class="container">

      <form class="form-signin" role="form" action="{{ path('welcome') }}"  method="post">

        <h2 class="form-signin-heading">Log In</h2>
        <input type="text" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Password" required=""><br>
        <button action = "{{ path('welcome') }}" class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
      </form>


  

        <h4 class="form-signin-heading"><br><br>Or<br><br></h4>
       
        <h2 class="form-signin-heading">Create Account</h2>
        <form id="reg_form" method="post" action="reg">
      

        <input name="username" type="text" required class="form-control" placeholder="Username" autofocus>
   
        <input name="email" type="text" placeholder="Email address" required class="form-control" >
      
        <input name="password" type="password" placeholder="Password"  required class="form-control">


        <button action = "{{ path('welcome') }}" class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body></html>
{% endblock %}
