{% extends '::base.html.twig' %}
{% block body %}
<html lang="en">

    <style type="text/css">

        body{
          background-image:url('http://i.imgur.com/EikJfFY.jpg');
          background-repeat:no-repeat;
          /*background-position: 300px;*/
          background-origin: center;
          background-size: 1400px;
           height: 770px;
        }
        .container{
            width:440px;
            
            margin-bottom: 300px;
        }

        .card {
        	background-color: lightgray;
        	height: 120px;
        	border-radius: 8px;
        	padding: 10px;
        	margin: 15px;
        	width: 100%;
        	float: left;
        }

        .bandPic {
        	color: solid black;
        	background-color: solid black;
        	margin: 10px;
        	padding: 2px;
        	height: 30px;
        	width: 30px;
        	float: left;
        }

        .bandTitle {
        	float: left;
        	margin-left: 20px;
        	font-size: 16px;
        	margin-bottom: 10px;
        }

        .bandDetails {
        	width: 100%;
        	font-size: 12px;
        	float: left;

        }

        .form-signin-heading{
          text-align: center;
        }

        </style>

  <body>

<div class="container">

      <div class="card">
      	<div class="bandPic">
      		<br/>
      	</div>
      	<div class="bandTitle">
      		<b>Le Arcade Fires</b><br/>
      		<font size="2">11/12/14 The Echoplex</font>
      	</div>

      	<div class="bandDetails">
      		San Diego  ------------>  Los Angeles<br/>
      		12 want to go              4 open seats<br/>
      	</div>

      </div>

      <div class="card">
      	This will be a card!
      </div>

</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body></html>
{% endblock %}