{% extends '::base.html.twig' %}
{% block body %}
<html lang="en">

    <style type="text/css">

        body{
          background-image:url('http://i.imgur.com/EikJfFY.jpg');
          background-repeat:no-repeat;
          /*background-position: 300px;*/
          background-origin: center;
          background-size: 1400px;
           height: 770px;
        }
        .container{
            width:540px;
            
            margin-bottom: 300px;
        }

        .card {
        	background-color: lightgray;
        	height: 100px;
        	border-radius: 8px;
        	padding: 10px;
        	margin: 15px;

        }

        .form-signin-heading{
          text-align: center;
        }

        </style>

  <body>

<div class="container">

      <div class="card">
        This will be a card!
      </div>

      <div class="card">
        This will be a card!
      </div>

      <div class="card">
        This will be a card!
      </div>

      <div class="card">
        This will be a card!
      </div>

      <div class="card">
        This will be a card!
      </div>

      <div class="card">
        This will be a card!
      </div>

      <div class="card">
        This will be a card!
      </div>

      <div class="card">
        This will be a card!
      </div>

</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body></html>
{% endblock %}