{% extends '::base.html.twig' %}
{% block body %}
<html lang="en">

<h3 class="form-signin-heading">Thank you for joining the event!</h3>
<br/>
<h4 class="form-signin-heading">You will receive an email when a driver is available.</h4>

</html>
{% endblock %}